/* Local Fonts */
@font-face {
  font-family: 'Dune Rise';
  src: url('./Dune_Rise/Dune_Rise.eot');
  src: url('./Dune_Rise/Dune_Rise.eot?#iefix') format('embedded-opentype'),
       url('./Dune_Rise/Dune_Rise.woff') format('woff'),
       url('./Dune_Rise/Dune_Rise.ttf') format('truetype'),
       url('./Dune_Rise/Dune_Rise.svg#DuneRise') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
} 